body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #f3f3f3;
}

body::-webkit-scrollbar-thumb {
  background: #a4887e;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #81685f;
}
